body {
    text-align: center;
    background-color: lightcoral;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    font-size: 30px;
}

.search {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;

    padding: 20px;
    margin: 20px;
}

#search-bar {
    height: 25px;
}

label {
    font-size: 20px;
    color: white;
}

#search-button {
    border: none;
    background-color: green;
    color: white;

    height: 25px;
    border-radius: 5px;
    width: 100px;
}
