h1 {
    text-align: center;
}

main {
    display: flex;
    flex-direction: column;
    gap: 20px;

}

section {
    display: grid;
    grid-template-columns: 1fr 1fr;

    gap: 20px;
}

select {
    width: 50%;
}

button {
    width: 50%;
    align-self: center;
}